<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pastebin – bytty</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,400" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div class="container" role="main">
		<h1>bytty</h1>
		<nav role="navigation">
			<a href="/">File upload</a>
			<a href="/pastebin" class="is-selected">Pastebin</a>
			<a href="/files">Your files</a>
		</nav>

		<p class="success-message animation">Done! Your download link is <a href="#" id="download_link"></a>.</p>
		<p class="error-message animation">Error! <span id="error_msg"></span>.</p>

		<form id="form" method="post" action="/pastebin/upload">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			<textarea name="pastebin" id="pastebin" rows="10" required autofocus></textarea>

			<div class="row">
				<div class="left select-container">
					<label for="duration">Expires in</label>
					<div class="select">
						<select name="duration" id="duration">
							<option value="1d">1 day</option>
							<option value="2d">2 days</option>
							<option value="3d">3 days</option>
						</select>
					</div>
				</div>
	
				<div class="right">
					<input type="password" name="password" id="password" placeholder="Password (optional)">
				</div>
			</div>

			<input type="submit" class="button block-button" value="Paste">
		</form>
	</div>

	<!-- JS scripts -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="/static/js/pastebin.js"></script>
</body>

</html>