<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Password – bytty</title>

	<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,400" />
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>

<body>
	<div class="container" role="main">
		<h1>bytty</h1>
		<nav role="navigation">
			<a href="/">File upload</a>
			<a href="/pastebin">Pastebin</a>
			<a href="/files">Your files</a>
		</nav>

		<p>This pastebin password protected. Please enter it below to access the pastebin.</p>
		<% if (messages.error) { %>
		<p class="error-message"><%= messages.error %></p>
		<% } %>

		<form id="form" method="post" action="/pastebin/<%= id %>">
			<input type="hidden" name="_csrf" value="<%= csrfToken %>">
			<div class="row">
				<div class="full">
					<input type="password" name="password" id="password" placeholder="Password">
				</div>
				<button class="button block-button" type="submit">Submit</button>
			</div>
		</form>
	</div>
</body>

</html>